.video-player-container {
    /* Add any container styles if needed */
    color:red;
  }
  
  .custom-video-player {
    /* Remove shadow */
    box-shadow: none !important;
  
    /* Change color of video timeline */
    .video-react-progress-control .video-react-progress-holder .video-react-progress {
      background-color: #ff0000; /* Replace with your desired color */
    }
  }

  video{
    color:red;
  }